@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500&display=swap');

* {
    font-family: 'Epilogue', sans-serif;
    
    padding: 0;
    margin: 0;
  }

  .selector-for-some-widget {
    box-sizing: content-box;
  }